.container {
  position: relative;
}

.background-image {
  background-color: rgb(14, 14, 73);
}

.login-box {
  box-shadow: 4;
  border-radius: 3;
  padding: 6 4;
  margin-top: 5;
  position: relative;
  background-color: hsl(0, 0%, 13%);
}
.checkbox {
  background-color: rgb(129, 129, 129);
}
.blancusco {
  background-color: white;
}
