.background-container {
    background-image: url('https://previews.123rf.com/images/chekat/chekat1708/chekat170800090/84784300-fondo-azul-y-violeta-abstracto-de-la-acuarela-concepto-de-dise%C3%B1o-mar-y-oc%C3%A9ano.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }